#headline {
  animation: headline 1s ease-in-out infinite alternate;
}
@keyframes headline {
  from {
    text-shadow: 0 0 10px rgb(24, 24, 65), 0 0 20px rgb(24, 24, 65), 0 0 30px #ff91c8,
      0 0 40px #ff91c8, 0 0 50px #ff91c8, 0 0 60px #ff91c8, 0 0 70px #ff91c8;
  }

  to {
    text-shadow: 0 0 20px rgb(24, 24, 65), 0 0 30px #f588be, 0 0 40px #f588be,
      0 0 50px #f588be, 0 0 60px #f588be, 0 0 70px #f588be, 0 0 80px #f588be;
  }
}
